.web-button{
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding: 12px 16px;
    border:none;
    border-radius: var(--regular-radius);
    cursor: pointer;
    transition: all .3s ease-in-out;
    &.btn-sm{
        padding: 8px 12px;
    }
    &.btn-blue{
        background-color: var(--primary-blue);
        color: var(--text-color);
        opacity: .9
    }
    &:hover{
        opacity: 1;
    }
}