body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    @include fontRegular;
}
.container{
    width: 95%;
    @include marginAuto;
}
.grid{
    display: grid;
    gap: 10px;
    &.grid-4{
        grid-template-columns: repeat(1, 1fr);
    }
}
.flex-content{
    display: flex;
    &.flex-row{
        flex-direction: row;
    }
    &.justify-between{
        justify-content: space-between;
    }
    &.align-center{
        align-items: center;
    }
}
.mb-5{
    margin-bottom: 5px;
}

//mediaQueris
@media screen and(min-width: 478px){
    .grid{
        &.grid-4{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and(min-width: 758px){
    .grid{
        &.grid-4{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and(min-width: 900px){
    .grid{
        &.grid-4{
            grid-template-columns: repeat(4, 1fr);
        }
    }
}