.task-column{
    width: 100%;
    padding: 10px;
    background-color: #ececec;
    color: var(--bg-color);
    border-radius: var(--regular-radius);
}
.task-column__title{
    @include fontBold;
    padding: 10px;
}
.actions{
    .web-icon-action{
        width: auto;
        padding: 0;
    }
}