<div class="board">
    <div class="container">
        <div class="grid grid-4">
            <div class="drop-zone"
            v-for="(column, index) in boardData"
            :keys="index"
            >
                <task-column
                :column="column.column"
                :index="index"
                ></task-column>
            </div>
            <web-add
            :iconData="iconData"
            :inputData="inputData"
            :btnData="btnData"
            @InputValue="handleValue($event)"
            @AddAction="addNewList($event)"
            ></web-add>
        </div>
    </div>
</div>