@mixin fontRegular{
    font-family: var(--font);
    font-weight: 400;
}
@mixin fontBold{
    font-family: var(--font);
    font-weight: 700;
}
@mixin marginAuto{
    margin-left: auto;
    margin-right: auto;
}